**/.vscode
**/node_modules
**/.env
apps/todos-spa/app/dist
apps/todos-spa/app/.eslintcache
apps/todos-api/helm/Chart.lock
apps/todos-api/helm/charts/
apps/todos-api/app/package-lock.json
package-lock.json
