**/.vscode
**/node_modules
**/package-lock.json
workshop_04/lab/cicd/.env
workshop_04/lab/cicd/repos/app_repo/dist
workshop_04/lab/cicd/repos/app_repo/.eslintcache
workshop_04/lab/todo-api/helm/Chart.lock
workshop_04/lab/todo-api/helm/charts/
