apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: workshop-02
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: web
          image: docker.io/euthymos/vue-nginx-demo:0.2
          ports:
            - containerPort: 8080