# Gitea
GITEA_ADMIN_USER=gitea-admin
GITEA_ADMIN_PASS=gitea-admin-password
GITEA_HTTP_TOKEN=
GITEA_HOST=gitea-gitea.apps-crc.testing

# ArgoCD / OpenShift GitOps
ARGOCD_HOST=openshift-gitops-server-openshift-gitops.apps-crc.testing

# OCP
OCP_REGISTRY=image-registry.openshift-image-registry.svc:5000
OCP_CICD_NAMESPACE=workshop-06-cicd
OCP_APP_NAMESPACE=workshop-06
